@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf9ff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  min-height: 100dvh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #16c016;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0fa19a;
}

/* Remove number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
